[Bible]
foreign_language=Hindi
k=10
mu=1.02547822179
sigma=0.22383486015
input_file=data/Bible/en_hi_bible_test.txt
output_ranking=data/Bible/en_hi_bible_test_clpd.txt
bilingual_dictionary=data/Bible/en_hi_bible_ibm1.txt


[Newspaper]
foreign_language=Hindi
k=10
mu=1.10768678111
sigma=0.259916622673
input_file=data/Newspaper/hindi-parallel-tides-test.txt
output_ranking=data/Newspaper/hindi-parallel-tides-clpd.txt
bilingual_dictionary=data/Newspaper/hindi-english-bilingual-copy.txt