[CLPD_ASA]
foreign_language=Hindi
k=10
mu=1.10768678111
sigma=0.259916622673
input_file=../data/Hindi-English Parallel/hindi-parallel-tides-test.txt
output_file=../data/Hindi-English Parallel/hindi-parallel-tides-matched-test.txt
bilingual_dictionary=../data/Hindi-English Parallel/hindi-english-bilingual-copy.txt