[Jaccard]
foreign_language=Hindi
input_file=../data/Hindi-English Parallel/hindi-parallel-tides-test.txt
output_file=../data/Hindi-English Parallel/hindi-parallel-tides-simple1-test.txt
bilingual_dictionary=../data/Hindi-English Parallel/hindi-english-bilingual-copy.txt
standard_dictioanry=../data/en_hi.dict.pickle
k=10
mode=1