[Bible]
foreign_language=Hindi
input_file=data/Bible/en_hi_bible_test.txt
output_file=data/Bible/en_hi_bible_jaccard_standard.txt
bilingual_dictionary=data/Bible/en_hi_bible_ibm1.txt
standard_dictioanry=data/en_hi.dict.pickle
k=10
mode=standard

[Newspaper]
foreign_language=Hindi
input_file=data/Newspaper/hindi-parallel-tides-test.txt
output_file=data/Newspaper/hindi-parallel-tides-jaccard-alignment.txt
bilingual_dictionary=data/Newspaper/hindi-english-bilingual-copy.txt
standard_dictioanry=data/en_hi.dict.pickle
k=10
mode=alignment