[Sequence]
input_file=../DataCleaning/Bible/en_hi_bible_test.txt
english_embeddings=../DataCleaning/Bible/English_outs.bin
foreign_embeddings=../DataCleaning/Bible/Hindi_outs.bin
nn_model = ../DataCleaning/Bible/nn_bible_model.json
nn_weights = ../DataCleaning/Bible/nn_bible_weights.txt
k=10
output_file=../DataCleaning/nn-en-hi-bible.txt