[Bible]

train_file=data/Bible/en_hi_bible_train.txt
test_file=data/Bible/en_hi_bible_test.txt
output_ranking=data/Bible/en_hi_bible_word2vec_output.txt

train_word_vectors=false
english_temp=data/Bible/eng_out_sents.txt
foreign_temp=data/Bible/hindi_out_sents.txt
english_embeddings=data/Bible/English.bin
foreign_embeddings=data/Bible/Hindi.bin
dimension_input=50

#cosine, mean_squared_error
metric=mean_squared_error

length_based_metric=true

k=10
mu=1.02547822179
sigma=0.22383486015


[Newspaper]
train_file=data/Newspaper/hindi-parallel-tides-train.txt
test_file=data/Newspaper/hindi-parallel-tides-test.txt
output_ranking=data/Newspaper/hindi-parallel-tides-word2vec.txt

train_word_vectors=true
english_temp=data/Newspaper/eng_out_sents.txt
foreign_temp=data/Newspaper/hindi_out_sents.txt
english_embeddings=data/Newspaper/English.bin
foreign_embeddings=data/Newspaper/Hindi.bin
dimension_input=100

#cosine, mean_squared_error
metric=mean_squared_error

length_based_metric=true


k=10
mu=1.10768678111
sigma=0.259916622673